# 默认忽略的文件
/shelf/
/workspace.xml
# 基于编辑器的 HTTP 客户端请求
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# IntelliJ IDEA
.idea/*
.idea/inspectionProfiles
.idea/codeStyles
.idea/*.xml
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/dataSources/
.idea/dataSources.ids
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
.idea/usage.statistics.xml
.idea/shelf/
.idea/modules.xml
.idea/vcs.xml